daemon = 0
bootstrap = "process/filesync/slave/main.lua"
lualib_path = "test/?.lua;lualib/?.lua;process/filesync/slave/?.lua;process/filesync/common/?.lua"
lualib_cpath = "luaclib/?.so"
service_host = "127.0.0.1"
service_port = 8091
admin_port = 8092
client_name = "No.1001"
search_repo_path = "/var/www/html/x_code_deploy_dir/keywords"
benchmark_seria_low = 1000
benchmark_seria_high = 1999
hello="world"
